* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #f8f8f8;
    
}

.container {
    display: flex;
    flex-flow: column;
    width: 1200px;
    align-content: center;
    margin: 0 auto;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    border-bottom: 3px double grey;
    
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer {
    border-top: 3px double darkgrey;
    background-color: lightgrey;
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding-right: 10px;
    
}

.logo-image {
    margin-left: 30px;
    width: 70px;
    
}

/* меню */

.menu {
    display: flex;
    margin: 40px 30px 0 0;
}

.menu_list {
    font-style: italic;
    font-size: 22px;
    list-style-type: none;
    padding: 0 20px;
    height: 30px;
    border: 1px solid black;
}

.menu_list:hover {
    color: aqua;
    background-color: #eee;
}

.menu_link {
    text-decoration: none;
    color: #8B00FF;
}

.menu_link:hover {
     color: mediumvioletred;
}

/* конец меню */

.heading {
    text-align: center;
    padding: 20px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.product-image-list {
    list-style-type: none;
    margin: 30px 60px;
    border: 3px double darkgrey;
}

.product-image-link {
    text-decoration: none;
}

.catalog-product-img {
    width: 150px;
}

.short_product_description_head,
.product_characteristics_head,
.detailed_product_description_head {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    overflow: hidden;
}

.short_product_description_text {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    overflow: hidden;
}

.detailed_product_description_text {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.short_product_description_text:first-letter {
    color: red;
    font-size: 22px;
    font-weight: 600;
}

.detailed_product_description_text:first-letter {
    color: red;
    font-size: 22px;
    font-weight: 600;
}

.product_characteristics_list {
    color: darkblue;
    list-style-image: url(https://minethecoin.com/images/coins/32x32/catcoin.png);
    list-style-position: inside;
}

.small_input_fields {
    width: 250px;
    height: 20px;
    color: green;
    font-style: bold;
}

.big_input_fields {
    width: 250px;
    height: 100px;
    color: blue;
    font-style: italic;
}

.product-page-image {
    border: double grey 5px;
    width: 200px;
    margin-right: 20px;
    float: left;
}

.product-page-image:hover {
    border: double transparent 5px;
    width: 200px;
    margin-right: 20px;
}

.product-page-image-link {
    display: block;
    float: left;
}

.input-field-label {
    font-family: sans-serif;
    font-weight: 500;
}

.contact_us_form {
    border: 2px solig black;
    width: 260px;
}



.email-field:focus {
    color: red;
    background-color: skyblue;
}



.table-characteristics {
    border-collapse: collapse;
}

.table-cell {
    border: 1px solid black;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.table-characteristics .table-row:first-child .table-cell {
    font-weight: 600;
    height: 60px;
    line-height: 60px;
}

.name-input {
    text-transform: capitalize;
}