body {
    background-color: #f8f8f8;
}

.menu_list {
    font-style: italic;
    font-size: 22px;
    list-style-type: none;
    
}

.menu_link {
    text-decoration: none;
    color: #8B00FF;
}

.menu_link:hover {
    color: aqua;
}

.short_product_description_head, 
.product_characteristics_head, 
.detailed_product_description_head{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short_product_description_text {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed_product_description_text {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product_characteristics_list {
    color: darkblue;
    list-style-image: url(https://minethecoin.com/images/coins/32x32/catcoin.png);
    list-style-position: inside;
}

.small_input_fields {
    width: 250px;
    height: 20px;
    color: green;
    font-style: bold;
}

.big_input_fields {
    width: 250px;
    height: 100px;
    color: blue;
    font-style: italic;
}

.product-page-image {
    outline: double grey 5px;
    width: 350px;
}

.page-main-title {}

.input-field-label {
    font-family: sans-serif;
    font-weight: 500;
}

.contact_us_form {
    border: 2px solig black;
    width: 260px;
}

.logo-image {
    width: 70px;
}

.email-block:focus {
    color: orange;
}

.product-image-list {
    list-style-type: none;
}

