body {
    background-color: #f8f8f8;
}

.menu_list {
    font-style: italic;
    font-size: 22px;
    list-style-type: none;

}

.menu_link {
    text-decoration: none;
    color: #8B00FF;
}

.menu_link:hover {
    color: aqua;
}

.short_product_description_head,
.product_characteristics_head,
.detailed_product_description_head {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


.short_product_description_text {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed_product_description_text {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.short_product_description_text:first-letter {
    color: red;
    font-size: 22px;
    font-weight: 600;
}

.detailed_product_description_text:first-letter {
    color: red;
    font-size: 22px;
    font-weight: 600;
}

.product_characteristics_list {
    color: darkblue;
    list-style-image: url(https://minethecoin.com/images/coins/32x32/catcoin.png);
    list-style-position: inside;
}

.small_input_fields {
    width: 250px;
    height: 20px;
    color: green;
    font-style: bold;
}

.big_input_fields {
    width: 250px;
    height: 100px;
    color: blue;
    font-style: italic;
}

.product-page-image {
    border: double grey 5px;
    width: 350px;
}

.product-page-image:hover {
    border: double transparent 5px;
    width: 350px;
}


.page-main-title {}

.input-field-label {
    font-family: sans-serif;
    font-weight: 500;
}

.contact_us_form {
    border: 2px solig black;
    width: 260px;
}

.logo-image {
    width: 70px;
}

.email-field:focus {
    color: red;
    background-color: skyblue;
}

.product-image-list {
    list-style-type: none;
}

.footer {
    background-color: lightgrey;
    padding-bottom: 10px;
}

.table-characteristics {
    border-collapse: collapse;
}

.table-cell {
    border: 1px solid black;
    width: 120px;
    height: 30px;
    text-align: center;
    font-height: 30px;
}

.table-characteristics .table-row:first-child .table-cell {
    font-weight: 600;
    height: 60px;
    font-height: 60px;
}

.name-input {
    text-transform: capitalize;
}
